body{
    padding: 0%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 3%;
    font-family: 'Inter', sans-serif;

}
p{
    margin: 0%;
    font-size:15px;
    color:hsl(236, 13%, 42%)
}

h3{
    font-size: 15px;
}

hr{
   opacity: .35;
    border-width: 0.2px;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    height: 5vh;
}

.icon-menu{
display: none;
}



.icon-menu{
    width: 40px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.toggleMenu {
   position: fixed;
    background-color:rgb(255, 253, 253);
    z-index: 1000;
    height: 100vh;
    width: 70vw;
    top: 0;
    left:35vw;
    display: none;
    flex-direction: row;
    padding: 0%;
    justify-content: space-between;
    
   
}

.toggle-list{
    padding: 15% 0;
    list-style: none;
    margin-left: 0px;
    text-align: left;
}

.close{
    margin-top: 8%;
    margin:20%;

    }


.list-div{
    margin-top: 45%;
    margin-left: 0%;

}





.navigation{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color:hsl(233, 8%, 79%);
    margin: 0%;
    width: 40%;
    padding: 12px;
    
}


.nav-links{
    list-style: none;
    font-size: 15px;
    width: 12vh;
    font-weight: 700;
}

.nav-links:active{
    color: hsl(35, 77%, 62%);
}


.all{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


main{
    display: flex;
    flex-direction: column;
  
    width: 65%;
}

.web-3{
    width: 100%;
    height: 33vh;
}

.thing{
    display: flex;
    flex-direction: row;
   
    margin-top: 3.5%;
}

.web3-img{
 
    height: 100%;
}

.mobileweb3-img{
    display: none;
}


.bold-text{
    font-size:40px ;
    font-weight:800;
    margin-top: 0%;
    width: 70vw;
    color: hsl(0, 0%, 4%);
}

.main-para{
display: flex;
flex-direction: column;
justify-content: space-between;
margin-left:50px;
text-align: left
}

.read-more{
background-color: hsl(5, 85%, 63%);
width: 55%;
height: 22%;
color:hsl(36, 100%, 99%);
font-weight :700;
letter-spacing: 2px;
border: none;
text-align: center;
}


.read-more:active{
    background-color:hsl(240, 100%, 5%);
}

.aside{
    width:31.5%;
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    font-size: 15px;
    
}

.side-head{
font-size: 15px;
font-weight: 800;
margin-top: 20px;
}

.side-head:active{
    color:  hsl(35, 77%, 62%)
}


.side-para{
    margin-bottom: 20px;
}

.new{
    margin-top: 0%;
  color:  hsl(35, 77%, 62%);
  font-weight: 700;
  font-size: 30px;
}

.section{
margin: 7%;
}

.footer{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between;
}

.footer-image{
width: 30%;
}

.each-news{
    display:flex;
    flex-direction: row;
    width: 43vh;
    justify-content: space-between;
}

.footer-text{
margin-left: 20px;
}

.footer-head{
margin: 0%;
color:hsl(233, 8%, 79%);
font-size: 1.8rem;
margin-bottom: 5px;
}

.footer-head2{
    margin: 0%;
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.footer-head2:active{
    color: hsl(5, 85%, 63%)

}



@media screen and (max-width:950px) {

    body{
        margin: 0;
        padding: 0%;
        margin-left: 10%;
        margin-right: 10%;

    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10%;
        height: 5vh;
    }


    .navigation{
        display: none;
    }


    .icon-menu{
        display: block;
    }

    

     

    .all{
    display: flex;
    flex-direction: column;

    }

    .thing{
        display: flex;
        flex-direction: column;
    }

    .web3-image{
        display:none;
    }



    .mobileweb3-img{
        display: block;
        width: 80vw;
        height: 45vh;
    }

    .bold-text{
        font-size:50px ;
        font-weight:800;
        margin-top: 7%;
        margin-bottom:5%;
        width: 60vw;
        color: hsl(0, 0%, 4%);
    }

    .main-para{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 70vw;
        margin: 0%;
        margin-top: 5%;

    }

    .read-more{
        margin-top: 50px;
        background-color: hsl(5, 85%, 63%);
        padding: 13px;
        width: 40%;
        color:hsl(36, 100%, 99%);
        font-weight :700;
        letter-spacing: 2px;
        border: none;
        text-align: center;
        }


        .aside{
            margin-top: 15%;
            width:55vw;
            background-color: hsl(240, 100%, 5%);
            color: hsl(36, 100%, 99%);
            font-size: 15px;
            
        }
       
        .side-head{
            font-size: 15px;
            font-weight: 800;
            margin-top: 40px;
            }
            
            .side-head:active{
                color:  hsl(35, 77%, 62%)
            }
            
            
            .side-para{
                margin-bottom: 40px;
            }
            
            .new{
                margin-top: 5%;
              color:  hsl(35, 77%, 62%);
              font-weight: 700;
              font-size: 30px;
            }

    .footer{
        display:flex;
        flex-direction: column;
        margin-top: 10%;
    }
    

    .each-news{
    display:flex;
    flex-direction: row;
    width: 60vw;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    justify-content: space-between;
}




}




@media screen and (max-width:480px) {

    body{
        margin: 0;
        padding: 0%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10%;
        height: 5vh;
    }
   

    .navigation{
        display: none;
    }


    .icon-menu{
        display: inline;
         width: 40px;
         height: 20px;
         justify-content: center;
         align-items: center;
    }

    .toggleMenu{
        display: none;
    }

    .all{
    display: flex;
    flex-direction: column;

    }

    .thing{
        display: flex;
        flex-direction: column;
    }

    .web3-image{
        display:none;
    }



    .mobileweb3-img{
        display: block;
        width: 90vw;
        height: inherit;
        
    }

    .bold-text{
        font-size:40px ;
        font-weight:800;
        margin-top: 7%;
        margin-bottom:5%;
        width: 80vw;
        color: hsl(0, 0%, 4%);
    }

    .main-para{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        width: 90vw;
        margin: 0%;
        margin-top: 5%;

    }

    .read-more{
        margin-top: 50px;
        background-color: hsl(5, 85%, 63%);
        padding: 13px;
        width: 60%;
        color:hsl(36, 100%, 99%);
        font-weight :700;
        letter-spacing: 2px;
        border: none;
        text-align: center;
        }


        .aside{
            margin-top: 15%;
            width:90vw;
            background-color: hsl(240, 100%, 5%);
            color: hsl(36, 100%, 99%);
            font-size: 15px;
            
        }


    .footer{
        display:flex;
        flex-direction: column;
        margin-top: 10%;
    }
    

    .each-news{
    display:flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    justify-content: space-between;
}


}